body {
  text-align: center;
  background-color: #80b662 ;
}
#shower {
  /* display: none; */
  background-color: #cce0a4;
  margin: auto;
  width: 60vw;
  max-width: 700px;
  margin-top: 5vh;
  background-color: #80B662;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 15px 10px #d4af37;
}
#conversionCard {
  margin: auto;
  width: 60vw;
  max-width: 700px;
  margin-top: 5vh;
  background-color: #80B662;
  margin-bottom: 10px;
  box-shadow: 0 0 15px 10px #d4af37;
}
p {
  color: gray;
  font-style: italic;
}
.form-control, button {
  margin: auto;
  width: 65%;
  color: black;
  background-color: #cce0a4;
  text-align: center;
}
.form-control:focus, button:focus {
  background-color: #cce0a4;
  border-color: #aaa9ad;
  box-shadow: 0 0 0 0.2rem #d4af37;
}
.form-control:hover, button:hover{
  background-color: #d4af37;
}
button {
  border: solid #aaa9ad 1px;
  width: 25%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 100px;
}
#musicPlayer {
  position: relative;
  margin: auto;
  width: 100%;
  margin: 0 10 0 10;
}

