body {
  text-align: center;
}
#shower {
  display: none;
}
#conversionCard {
  margin-top: 5vh;
  background-color: #80B662;
}
p {
  color: gray;
  font-style: italic;
}
.form-control, button {
  margin: auto;
  width: 65%;
  color: black;
  background-color: #cce0a4;
  text-align: center;
}
.form-control:focus, button:focus {
  background-color: #cce0a4;
  border-color: #aaa9ad;
  box-shadow: 0 0 0 0.2rem #d4af37;
}
.form-control:hover, button:hover{
  background-color: #d4af37;
}
button {
  border: solid #aaa9ad 1px;
  width: 40%;
}

